<h1>Closest Stations</h1>

<% @search.closest_stations.each do |station| %>
  <ul class='station'>
    <li class='name'>Name: <%= station.name %></li>
    <li class='address'>Street Address: <%= station.address %></li>
    <li class='fuel-types'>Fuel Type: <%= station.fuel_type %></li>
    <li class='distance'>Distance: <%= station.distance %></li>
    <li class='access-times'>Access Times: <%= station.access_times %></li>
  </ul>
<% end %>
